body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin:0px;
    position: relative;
    background-image: url('./assets/mountain.jpg');
}

.text-container {
    bottom: 0;
    padding: 15px;   
}

h1 , h2{
    text-align: right;
    font-weight: normal;
}

h1 {
    font-size: 2.3rem;
    line-height: 50%;
}

h2 {
    font-size: 1.2rem;
}

.tab-section {
    margin: auto;
    height:50vh;    
    display: flex;
    justify-content: center;
}

.home-tab {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.79);
    margin:0;
}

.skills-tab {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.79);
    margin:0;
}

.tab-container {
    width: 90vw;
    min-height: 60vh;
    border: solid 0.5px black;
    border-radius: 5px;
       
}

.tab-handle {

}

.handle-dots-container {
    height: 30px;
    width: 90vw;
    border-bottom: solid 0.2px black;
    display: flex;
    align-items: center;
    position: absolute;
}

.red {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #FC5B57;
    margin: 0 4px 0 8px;
}

.yellow {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #E5BF3C;
    margin: 4px;
}

.green {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #57C038;
    margin: 4px;
}

.tab-contents {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 25px 0 25px;
    overflow: scroll;
    height: 55.5vh;
}

.folder {
    margin: 20px;
    width: 100px;
    cursor: pointer;
}


.folder-top {
    width: 35px;
    height: 8px;
    border-radius: 2px 2px 0 0; 
    background-color: rgb(207, 183, 121);
}

.folder-bod {
    width: 100px;
    height: 70px;
    border-radius: 0 5px 5px 5px;
    background-color: #EDD18A;
    margin-bottom: 5px;
}

.folder-text {
    text-align:center;
}

.email-container {
    display: none;
    width: 100px; 
    text-align: center;  
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.email-icon {
    width: 80px;
}



.file {
    margin: 20px 35px 20px 35px;
    width: 70px;
    cursor: pointer;
}

.file-left {
    height: 20px;
    width: 50px;
    border-top: solid 0.2px black;
    border-left: solid 0.2px black;
    position: absolute;
}

.file-corner {
      width: 0;
      height: 0;
      border-bottom: 20px solid rgb(203, 203, 203);
      border-right: 20px solid transparent;
      margin-left: 50px;
}

.file-bod {
    width:70px;
    height: 70px;
    border-right: solid 0.2px black;
    border-bottom: solid 0.2px black;
    border-left: solid 0.2px black;
    margin-bottom: 5px;
}

.file-text {
    text-align:center;
}

.footer-container {
    bottom:0;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.icon-container {
    position: absolute;
    margin-top:10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.icon-container img {
    width: 80px;
}

.trash-icon {
    display: none;
}

.footer-bg {
    bottom:0;
    background-color: rgba(196, 196, 196, 0.721);
    opacity: 80%;
    width: 100vw;
    height: 100px;
    border-radius: 10px 10px 0 0;
    position: absolute;
}

.skills-title {
    margin: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* --------------------------desktop styling-------------------------- */

@media only screen and (min-width: 830px) {
    .text-container {
        position: absolute;
        right: 0;
        bottom:90px;
        margin: 10px;
    }
    
    .email-container {
        position: absolute;
        right: 0;
        top: 0;
        margin: 20px;
    }
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    .tab-section {
        display: block;
    }

    .tab-container {
        width: 500px;
        min-height: 300px;
        border: solid 0.5px black;
        border-radius: 5px;
        margin: 10vh 10vw;
        position: absolute;
    }

    .tab-contents {
        height: 40vh;
    }
    .handle-dots-container {
        width: 500px;
    }

    .footer-bg {
        position: absolute;
        bottom: 0;
        width: 400px;
        height: 90px;
    }
    .icon-container {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .folder {

    height: 100px;
    }
}